<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Twitter Analysis</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Search</a>
                    </li>
                    <li role="presentation" class="active"><a href="/analytics">Analytics</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Twitter Data App</h3>
        </div>
 
 
        <div class="row marketing">
            <div class="col-lg-12">
            {% if results_monthly %}
            <table>
                <tbody>
                {% for data in results_monthly%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{data}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {#{results|count}#}
            {% else %}
                <p>No result found</p>
            {% endif %}
             
            </div>
        </div>

        <div class="row marketing">
            <div class="col-lg-12">
            {% if results_daily %}
            <table>
                <tbody>
                {% for data in results_daily%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{data}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {#{results|count}#}
            {% else %}
                <p>No result found</p>
            {% endif %}
             
            </div>
        </div>

        <div class="row marketing">
            <div class="col-lg-12">
            {% if results_weekly %}
            <table>
                <tbody>
                {% for data in results_weekly%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{data}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {#{results|count}#}
            {% else %}
                <p>No result found</p>
            {% endif %}
             
            </div>
        </div>
 
 
    </div>
</body>
 
</html>