<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Twitter Analysis</title>
 
 
    
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
 
<body>
    
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Search</a>
                    </li>
                    <li role="presentation" class="active"><a href="/analytics">Analytics</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Twitter Data Analysis for word 'analytics'</h3>
        </div>
 <div>

        <div class="col-xs-12 col-sm-offset-3 col-sm-6 no--padding content-padding payment-method">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#bank" data-toggle="tab" class="dark-text">Bank transfer</a>
                </li>
                <li>
                    <a href="#card" data-toggle="tab" class="dark-text">Debit card</a>
                </li>
            </ul>
            <br>
            <div class="tab-content col-xs-12 margin">
                <div id="bank" class="tab-pane fade in active">

                    <div id="generate-reference" class="btn btn-invest">
                        generate wire reference
                    </div>
                    <div id="reference-results-container"></div>
                    <div id="row-indicator" style="display: none;background-image: url('/img/new-loader.gif');width: 50px;height: 50px;"></div>
                </div>
                <div id="card" class="tab-pane fade in">
                </div>
            </div>
        </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" >
    <li class="active">
        <a href="#chart-container-hour" data-toggle="tab">Tweets/min</a>     </li>
    <li role="presentation">
        <a href="#chart-container-second" data-toggle="tab">Tweets/sec</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="chart-container-hour" style="height: 400px">
    </div>
    <div class="tab-pane" id="chart-container-second" style="height: 400px">
  </div>

</div>


        <script>
            Highcharts.chart('chart-container-hour', {
                title: {
                    text: 'Daily Analysis over 60 minutes of hour'
                },

                subtitle: {
                    text: 'Daily Chart'
                },


                xAxis: {
                    categories: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24',
                                    '25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48',
                                    '49','50','51','52','53','54','55','56','57','58','59','60']
                },

                series: [{
                    data: {{results_hour_list}}
                }]
            });

            Highcharts.chart('chart-container-second', {
                title: {
                    text: 'Daily Analysis over 60 seconds of minute'
                },

                subtitle: {
                    text: 'Daily Chart'
                },


                xAxis: {
                    categories: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24',
                                    '25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48',
                                    '49','50','51','52','53','54','55','56','57','58','59','60']
                },

                series: [{
                    data: {{results_second_list}}
                }]
            });
        </script>

    </div>
</body>
 
</html>